/* Start Variable  */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;  
    --main-duration: 0.5s;
}
/* End Variable  */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.main-title {
    color: #ebeced;
    font-size: 100px;
    margin: 0;
    letter-spacing: -3px;
    text-align: center;
    font-weight: 800;
}
.main-title + p {
    margin: -30px 0 0;
    text-align: center;
    color: #797979;
    font-size: 20px;
}
@media (max-width: 767px) {
    .main-title {
        font-size: 60px;
    }
    .main-title + p {
        margin: -20px ;
    }
}
/* End Components */
/* Start header  */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header img {
    width: 60px;
}
.header .links ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #ddd;
    right: 0;
    display: none;
    top: calc(100% + 15px);
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}
.header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ddd ;
    top: -20px;
    right: 5px;
}
.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.header .links ul a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 25px;
}
/* End header  */
/* Start Landing  */
.landing {
    background-image: url(../images/تنزيل.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .text  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .text p {
    line-height: 1.8;
    font-size: 19px;
}
/* End Landing  */
/* Start Features */
.features {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .box {
    padding: 20px;
    text-align: center;
}
.features .box i {
    color: var(--main-color);
}
.features .box h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .box p {
    margin: 0;
    color: #777;
    font-size: 17px;
    line-height: 1.8;
}
/* End Features */
/* Start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .col .box {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .col .box {
        flex-direction: column;
        text-align: center;
    }
}
.services .col .box i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .col .box .text {
    flex: 1;
}
.services .col .box .text h3 {
    margin: 0 0 20px;
}
.services .col .box .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .image {
    text-align: center;
    position: relative;
}
.services .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    top: -50px;
    z-index: -1;
}
.services .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .services .image {
        display: none   ;
    }
}
/* End services */
/* start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.portfolio .box {
    background-color: white;
}
.portfolio .box .text {
    padding: 20px;
}
.portfolio .box .text h3 {
    margin: 0;
}
.portfolio .box .text p {
    color: #777;
    line-height: 1.7;
    margin-bottom: 0;
}
.portfolio .box img {
    max-width: 100%;
}
/* End Portfolio */
/* Start About  */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .about .container {
        flex-direction: column;
        text-align: center;
    }
}
.about .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .image {
        margin: 0 auto 60px;
    }
}
.about .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    z-index: -1;
    left: -20px;
    top: -40px;
}
.about .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px) {
    .about .image::before,
    .about .image::after {
        display: none;
    }
}
.about .image img {
    max-width: 100%;
}
.about .text {
    flex-basis: calc(100% - 500px);
}
.about .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .text p:last-of-type {
    line-height: 2;
    color: #777;
}
/* End About  */
/* Start Contact  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info p {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info a {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    color: var(--secondary-color);
    margin-left: 10px;
}
@media (max-width: 767px) {
    .contact .info p,
    .contact .info a {
      font-size: 25px;
    }
  }
/* End Contact  */
/* Start Footer  */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer  */